* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1 {
    position: absolute;
    font-size: 70px;
    color: rgba(255, 0, 0, 0.808);
    margin: 10%;
    top: 15%;
}
h2{
    position: absolute;
    left: 10%;
    top:35%;
    color: rgba(255, 255, 255, 0.781);
    margin: 10%;
}

.button {
    position: absolute;
    justify-content: center;
    left: 50%;
    top: 40%;
    padding: 2% 4%;
    text-decoration: none;
    border: white solid 2px;
    color: white;
    transform: translateX(-50%);
    font-size: 20px;
}



#der .button {
    filter: drop-shadow(0 0 15px #245ee6fd) drop-shadow(0 0 50px #ec512e42) contrast(2) brightness(2);
    transition: .5s;
}



.mueve {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.mueve.der {
    right: 0;
    background: url('img/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.mueve.der::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0827f038;
}

.mueve.izq,
.mueve.der,
.mueve.izq::before,
.mueve.der::before {
    transition: all 1s ease-in;
}

.hover-izq .izq {
    width: 75%;
    background-position: center;
}

.hover-izq .der {
    width: 25%;
}

.hover-der .der {
    width: 75%;
    background-position: center;
}

.hover-der .izq {
    width: 25%;
}

@media(max-width: 800px) {
    h1 {
        font-size: 4rem;
        top: 15%;
    }

}
